In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
world_df = pd.read_excel("../data/gtd_jan_june_21.xlsx", index_col=0)

In [3]:
usa_df = world_df[world_df["country_txt"] == "United States"].copy()

* Usa only has data for year 2021

In [4]:
usa_df["iyear"].value_counts()

iyear
2021    26
Name: count, dtype: int64

* Amount of terrorist attacks recorded

In [35]:
len(usa_df)

26

In [5]:
usa_df.sample().T

eventid    202105240050
iyear              2021
imonth                5
iday                 24
approxdate          NaN
extended              0
...                 ...
INT_LOG              -9
INT_IDEO             -9
INT_MISC              0
INT_ANY              -9
related             NaN

[134 rows x 1 columns]

In [6]:
usa_df[["iday", "imonth", "iyear"]].sample()

              iday  imonth  iyear
eventid
202103160007    16       3   2021

In [7]:
usa_df.rename(columns={"iday": "day", "imonth": "month", "iyear": "year"}, inplace=True)

In [9]:
usa_df["date"] = pd.to_datetime(usa_df[["day","month","year"]])

In [14]:
usa_df["date"].value_counts()

date
2021-03-16    3
2021-01-06    3
2021-05-19    2
2021-01-04    1
2021-04-15    1
2021-06-21    1
2021-05-24    1
2021-05-23    1
2021-05-22    1
2021-05-20    1
2021-04-24    1
2021-03-25    1
2021-04-02    1
2021-03-15    1
2021-03-06    1
2021-03-02    1
2021-02-25    1
2021-01-23    1
2021-01-18    1
2021-01-14    1
2021-06-26    1
Name: count, dtype: int64

In [17]:
jan_six = usa_df[(usa_df["date"].dt.month == 1) & (usa_df["date"].dt.day == 6)]

In [27]:
jan_six

,year,month,day,approxdate,extended,resolution,country,country_txt,region,region_txt,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,date
eventid,,,,,,,,,,,,,,,,,,,,,
202101060016,2021,1,6,NaN,0,NaT,217,United States,1,North America,...,"""FBI posts new photos of DC pipe bomb suspect ...",NaN,NaN,START Primary Collection,0,0,0,0,"202101060016, 202101060017, 202101060018",2021-01-06
202101060017,2021,1,6,NaN,0,NaT,217,United States,1,North America,...,"""Feds rushing to find leads on person who put ...","""Capitol Bomber Remains At Large: FBI Offers $...","""Pipe Bombs Believed To Have Been Placed Night...",START Primary Collection,-9,-9,0,-9,"202101060016, 202101060017, 202101060018",2021-01-06
202101060018,2021,1,6,NaN,0,NaT,217,United States,1,North America,...,"""Feds rushing to find leads on person who put ...","""Capitol Bomber Remains At Large: FBI Offers $...","""Pipe Bombs Believed To Have Been Placed Night...",START Primary Collection,-9,-9,0,-9,"202101060016, 202101060017, 202101060018",2021-01-06

In [29]:
for data in jan_six["scite1"].values:
    print(data)

"FBI posts new photos of DC pipe bomb suspect along with $50K reward," FOXNews.com, January 12, 2021.
"Feds rushing to find leads on person who put bombs outside RNC and DNC buildings, and worry they'll strike again," CNN Wire, January 28, 2021.
"Feds rushing to find leads on person who put bombs outside RNC and DNC buildings, and worry they'll strike again," CNN Wire, January 28, 2021.

In [34]:
jan_six["nwound"]

eventid
202101060016    182.0
202101060017      0.0
202101060018      0.0
Name: nwound, dtype: float64

In [33]:
jan_six.loc[202101060016]["scite1"]

'"FBI posts new photos of DC pipe bomb suspect along with $50K reward," FOXNews.com, January 12, 2021.'